@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@100..900&family=Playwrite+CU:wght@100..400&family=Protest+Guerrilla&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: Arial;
}
#section1 {
  font-family: "Playwrite CU", cursive;
  font-optical-sizing: auto;
  font-weight: 250;
  font-style: normal;
}
#section2 {
  font-family: "Protest Guerrilla", cursive;
  font-optical-sizing: auto;
  font-weight: 250;
  font-style: normal;
}
#section3 {
    font-family: "Handjet", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
      "ELGR" 1,
      "ELSH" 2;
}

header {
  background-color: #2e073f;
  color: #ebd3f8;
  padding: 20px;
  text-align: center;
  /* nav fisso 
    position: fixed;
    width: 100%; */
}
nav {
  background-color: #7a1cac;
  color: #ebd3f8;
  padding: 20px;
  text-align: center;
}
nav a {
  color: #ebd3f8;
  text-decoration: none;
  padding: 20px;
}
@media (max-width: 768px) {
  header {
    background-color: #555;
  }

  nav {
    background-color: #555;
  }

  section {
    padding: 10px;
  }

  footer {
    background-color: #555;
  }
}
@media (max-width: 550px) {
  header {
    background-color: #79c531;
  }

  nav {
    background-color: #48df1b;
  }

  section {
    padding: 10px;
  }

  footer {
    background-color: #4709d8;
  }
}
nav a:hover {
  background-color: #fb773c;
}
section {
  padding: 20px;
}

footer {
  background-color: #2e073f;
  color: #ebd3f8;
  padding: 20px;
  text-align: center;
}

p {
  text-align: justify;
  text-indent: 20px;
  line-height: 1.5;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  padding: 10px;
}

ol {
  list-style-type: decimal;
  padding: 0;
}

ol li {
  padding: 10px;
}
