body {
  margin: 0;
  padding: 0;
  font-family: Arial;
}

#section1,
#section2,
#section3 {
  font-family: Arial;
  margin: 25px;
}

.testo-nascosto {
  display: none;
}
.testo-nascosto:target {
  display: block;
  padding-bottom: 140px;
}

header {
  background-color: #2e073f;
  color: #ebd3f8;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100; /* Mantiene l'header sopra gli altri contenuti */
  text-align: center;
}
header h1 {
  padding-top: 2vh;
  margin: 0;
}

nav {
  background-color: #7a1cac;
  color: #ebd3f8;
  padding: 20px;
  text-align: center;
}
nav a {
  color: #ebd3f8;
  text-decoration: none;
  padding: 20px;
}
nav a:hover {
  background-color: #2e073f;
}

.vuoto{
  position: relative;
}
.vuoto::before {
  content: "";
  display: block;
  height: 140px; /* Altezza dell'header */
  margin-top: -140px; /* Solleva la sezione in modo che appaia correttamente sotto l'header */
}

footer {
  background-color: #2e073f;
  color: #ebd3f8;
  padding: 20px;
  text-align: center;
  position: relative;
  width: 100%;
  bottom: 0vh;
  position: fixed;
}

.parag{
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  padding: 20px;
  width:200;
  margin:10px 0;
  border-style: outset
}

.riga{
display: flex;
padding-top: 140px; /* Compensa l'altezza dell'header */

}
.colonna:nth-child(1){
  position: fixed;
  top: 0;
  overflow: hidden;
  margin-left: 10px;
  margin-top: 140px;
}
.colonna:nth-child(1) img{
  height: 350px;
  width: 350px;
}
.colonna:nth-child(1) p{
  height: 300px;
  width: 300px;
  position: fixed;
}
.colonna:nth-child(2){
  margin-left: 360px;
}


@media (max-width: 610px) {
  nav a {
    font-size: x-small;
    padding: 10px;
  }
  .colonna:nth-child(2){
    display: none;
  }
}

svg{
  height: 15px;
  width: 15px;
  /*display: flex;
  align-items: center;
*/}